<h3>Incluir Time</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <input type="text" class="form-control" formControlName="id" id="id"  [(ngModel)]="time.id" name="id" hidden>
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" formControlName="nome" id="nome" required [(ngModel)]="time.nome" name="nome">
        </div>

        <div class="form-group">
            <label for="name">Cor</label>
            <input type="text" class="form-control" id="cor" formControlName="cor" required [(ngModel)]="time.cor" name="cor">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Time cadastrado com sucesso!</h4>
</div>

