<div class="panel panel-default">
  <div class="panel-heading">
      <h1></h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Cor</th>
                  <th>Ações</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let time of times | async">
                  <td>{{time.nome}}</td>
                  <td>{{time.cor}}</td>
                  <td><button (click)='alterar(time.id)'>Alterar</button>
                  <button (click)='deletarTime(time.id)'>Excluir</button></td>

              </tr>
          </tbody>
      </table>
  </div>
</div>